
/* like bootstrap */

for z in 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
  .mt-{z}
    margin-top 1px * z
  .mb-{z}
    margin-bottom 1px * z
  .ml-{z}
    margin-left 1px * z
  .mr-{z}
    margin-right 1px * z
  .mv-{z}
    margin-top 1px * z
    margin-bottom 1px * z
  .mh-{z}
    margin-left 1px * z
    margin-right 1px * z
  .m-{z}
    margin 1px * z
  .pt-{z}
    padding-top 1px * z
  .pb-{z}
    padding-bottom 1px * z
  .pl-{z}
    padding-left 1px * z
  .pr-{z}
    padding-right 1px * z
  .pv-{z}
    padding-top 1px * z
    padding-bottom 1px * z
  .ph-{z}
    padding-left 1px * z
    padding-right 1px * z
  .p-{z}
    padding 1px * z
  .pm-{z}
    padding 1px * z
    margin 1px * z

.ta-c
  text-align center
.ta-l
  text-align left
.ta-r
  text-align right

.TA-C
  text-align center !important
.TA-L
  text-align left !important
.TA-R
  text-align right !important

.va-t
  vertical-align top
.va-m
  vertical-align middle
.va-b
  vertical-align bottom

.VA-T
  vertical-align top !important
.VA-M
  vertical-align middle !important
.VA-B
  vertical-align bottom !important

.f-l
  float left
.f-r
  float right
.f-c
  clear both

.F-L
  float left !important
.F-R
  float right !important
.F-C
  clear both !important

.vh-100
  height 100vh
.w-100
  width 100%
.ma
  margin-left auto
  margin-right auto

.s-1em
  letter-spacing 1em
  text-align -1em
  text-indent 1em
  display inline-block

.fw-s
  font-weight 100
.fw-b
  font-weight bolder

/* like element-ui */

.fs-el
  font-size 20px  
.fs-l
  font-size 18px
.fs-m
  font-size 16px  
.fs-s
  font-size 14px
.fs-es
  font-size 13px  
.fs-ees
  font-size 12px

el-ff()
  font-family 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif
.el-ff
  el-ff()
