@import './helper.styl'

body
  el-ff()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.hero-bg
  background-image linear-gradient(344deg, #43cbff 0%, #9708cc 100%)

/* Custom Nav Menu stand by el-menu */
.ghost-menu
  &::after
    display none
  &.el-menu--horizontal>.el-menu-item
  &.el-menu--horizontal>.el-menu-item.is-active
  &.el-menu--horizontal>.el-submenu .el-submenu__title
  &.el-menu--horizontal>.el-submenu.is-active .el-submenu__title
  &.el-menu--horizontal
    border-bottom none
  &.el-menu--horizontal>.el-menu-item:not(.is-disabled):hover
  &.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus
  &.el-menu--horizontal>.el-submenu .el-submenu__title:hover
    background-color transparent
  &.el-menu--horizontal>.el-menu-item
  &.el-menu--horizontal>.el-menu-item i
  &.el-menu--horizontal>.el-menu-item:hover
  &.el-menu--horizontal>.el-submenu .el-submenu__title
  &.el-menu--horizontal>.el-submenu .el-submenu__title i
    color #ffffffbf
  &.el-menu--horizontal>.el-menu-item.is-active
  &.el-menu--horizontal>.el-submenu.is-active .el-submenu__title
  &.el-menu--horizontal>.el-menu-item.is-active i
  &.el-menu--horizontal>.el-submenu.is-active .el-submenu__title i
    color #ffffff
